{{define "basejs"}}
<script>

function randomRotateCards(){
  Array.prototype.forEach.call(document.getElementsByClassName("card"), function(elem){
    elem.style.transform = `rotate(${Math.random() * 5 - 2.5}deg)`;
  })
}

</script>
{{end}}